$white: #ffffff;
$black: #000000;
// GRAY SHADES ====================================
$light_gray: #d8d9dc;
$dark_gray: #a09ba3;
// BLUE SHADES ====================================
$cyan: #30faf5;
$light_blue: #17bef0;
$lightblue_hov: #3bafda;
$side_blue: #3F51B5;
$dark_blue: #20265b;
$black_blue: #161829;
// RED SHADES ====================================
$light_red: #ea6c4b;
$orange: #efbf50;