.weight-section {
    .weight-row {
        display: flex;
        align-items: center;
    }
    .form-control {
        margin-right: 1em;
        @include viewport(small) {
            margin-bottom: 0;
        }
    }
}
.add-weight {
    @extend .weight-section;
    .form-control {
        margin-bottom: 1em;
    }
}